footer {
    text-align: center;
      font-size: 12px;
}

h1 {
    
    text-align: center;
    color: cornflowerblue;
    
}
h3 {
    
    text-align: center;
    color: cornflowerblue;
    
}

h4 {
    
    text-align: center;
    color: cornflowerblue;
    
}

.date {
    
    text-align: right;
    color:darkslategray;
    
}